<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>homepage</title>
    <style>
        .card {
            width: 18rem;
            margin-bottom: 20px;
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        .card-body {
            padding: 15px;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 1rem;
            color: #555;
        }

        .card .btn-primary {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-3">
        <div class="row">
            <% blogs.forEach(blog => { %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="<%= blog.coverImage %>" class="card-img-top" alt="Blog Image">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <p class="card-text">
                                <%= blog.body.slice(0, 100) %>...  <!-- Display part of the body -->
                            </p>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/script') %>
</body>

</html>
